body {
    margin: 0;
    background-color: gainsboro;
}

.navigator {
    width: 100%;
    height: 79px;
    background-color: darkturquoise;
    border-radius: 40px;
    border-style: dotted;
    border-color: red;
    text-align: center;
}


#welkoma {
    color: darkblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.invoer {
    
}